@import "../node_modules/normalize.css/normalize.css";
@import "interstitial.css";
@import "zindex.css";
/* @import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Raleway&display=swap"); */

body {
    margin: 0;
}

.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hidden {
    display: none;
}

.main-view {
    position: absolute;
    top: 0;
    display: block;
}

footer {
    margin-top: 2rem;
}

footer.attribution p {
    font-size: 1rem;
}

footer p {
    margin: 0;
}